    <div id ="modep-form">
      <a href="/docs/calcep/1db" class="nes-btn is-success" style="float:right">?</a>
      <center><h3 class="nes-text is-primary">Elastic-plastic bar element model data:</h3></center>
      <form action="/analyze/ep" method="post">
	<div class="nes-select">
	  <label for="Frmstr">frame type</label>
	  <select name="Frmstr" id="Frmstr" hx-post="/ex/models/ep" hx-target="#modep-form">
	    <option value="1db" selected="selected">beam(1d)</option>
	    <option value="2df">frame(2d)</option>
	  </select>
	</div>
	<div class="nes-select">
	  <label for="Units">units(b.m)</label>
	  <select name="Units" id="Units">
	    <option value="knm">kN-meter</option>
	    <option value="nmm">N-mm</option>
	    <option value="kpin" selected="selected">kP-in</option>
	  </select>
	</div>

	<div class="nes-select">
	  <label for="Term">gnuplot terminal</label>
	  <select name="Term" id="Term">
	    <option value="svg" selected="selected">svg</option>
	    <option value="dxf">dxf</option>
	    <option value="svgmono">svgmono</option>
	  </select>
	</div>
	<label for="Id">model title</label>
	<input type="text" name="Id" class="nes-input" value="harrison-13.3" placeholder="harrison-13.3" onfocus = "this.value=''"/>    
	<label for="Coords">nodal coordinates</label>
	<input type="text" name="Coords" class="nes-input" value="[0],[24],[72]" placeholder="[0],[24],[72]" onfocus = "this.value=''"/>
	<label for="Supports">supports</label>
	<input type="text" name="Supports" class="nes-input" value="[1,-1,-1],[3,-1,-1]" placeholder="[1,-1,-1],[3,-1,-1]" onfocus = "this.value=''"/>
	<label for="Mprp">member properties</label>
	<input type="text" name="Mprp" class="nes-input" value="[1,2,1,1,0], [2,3,1,2,0]" placeholder="[1,2,1,1,0], [2,3,1,2,0]" onfocus = "this.value=''"/>
	<label for="Em">elastic modulus</label>
	<input type="text" name="Em" class="nes-input" value="[29000]" placeholder="[29000]" onfocus = "this.value=''"/>
	<label for="Cp">cross sections</label>
	<input type="text" name="Cp" class="nes-input" value="[1,3,24],[1,1,12]" placeholder="[1,3,24],[1,1,12]" onfocus = "this.value=''"/>
	<label for="Jloads">nodal loads</label>
	<input type="text" name="Jloads" class="nes-input" value="[2,0,-1,0]" placeholder="[2,0,-1,0]" onfocus = "this.value=''"/>
	<label for="Json" class="nes-text is-warning">json input</label>
	<textarea name="Json" id="Json" class="nes-textarea"></textarea>

	<div style="text-align: center">
	  <input type="submit" class="nes-btn is-primary" value="calc"/>
	</div>
      </form>
    </div>
