{{template "header" .}}
<body>
  <div class="nes-container with-title" width="fit-content">
    <p class="title">steel column<p>
      <span class="nes-text is-primary">This program designs a steel beam-column or checks a given section for ultimate loads.</span>
  </div>
  <div class="nes-container with-title">
    <p class="title">sample fields</p>	
    <pre>
      {"Title":"Mosley6.1", -> title
      "H1" : 3500, -> height of (this) column in mm
      "H2" : 4000, -> height of column above in mm
      "Lspan": 3500, -> column length in mm
      "Lx" : 3500, -> unbraced length of column about xx axis in mm
      "Ly" : 3500, -> unbraced length of column about yy axis in mm
      "Tx" : 1.0, -> fixity factor about xx axis
      "Ty" : 1.0, -> fixity factor about yy axis
      "Code": 2, -> code of practice. 1- is.800 , 2 - bs449 
      "Mx" : 0.0, -> moment about xx axis in n-mm
      "My" : 0.0, -> moment about yy axis in n-mm
      "Mx" : 0.0, -> moment about xx axis in n-mm
      "My" : 0.0, -> moment about yy axis in n-mm
      "Vx" : 120e3, -> (diff of) beam shears at flange (xx) in n
      "Vy" : 40e3, -> (diff of) beam shears at web (yy) in n
      "Pn" : 1000e3, -> total axial load in n
      "Pfac" : 1.0, -> stress ratio factor
      "Dsgn" : true, -> if false, check section index (sdx)
      "Sdx" : 0, -> check section at index sdx in .csv tables
      "Sname" : section name (i, ub, uc, npb, wpb, w, angle)
      "Nsecs" : 3} -> number of sections
    </pre>
  </div>
  <div class="nes-container with-title">
    <p class="title">available sections<p>
    <a href="/steel/sdxs">section indices</a>
  </div>
  <div class="nes-container with-title">
    <p class="title">references<p>
      <div class="lists">
	<ul class="nes-list is-disc">
	  <li>W. H. Mosley, W. J. Spencer - Microcomputer Applications in Structural Engineering - Macmillan Education UK (1984)</li>
	  <li>S. K Duggal - Limit State Design of Steel Structures- McGraw Hill India (2014)</li>
	  
	  <li>N. Subramanian - Design of Steel Structures- Oxford University Press (2013)</li>
	</ul>
      </div>
  </div>
  <div class="nes-container with-title">
    <p class="title">examples<p>
    <p>Copy and paste the following json structs in the "json input" field and hit "calc".</p>
    <p>wtf put in something.</p>
    <label for="textarea_field">there is a dearth of examples</label>
    <textarea id="textarea_field" class="nes-textarea"></textarea>
    <br>
  </div>
  
</body>

{{template "footer" .}}
