{{template "header" .}}

<body>
<div class="nes-container" width="fit-content">
     <center>
       <h2 class="nes-text is-primary">Select analysis type:</h2>
       <div class="lists">
	 <ul class="nes-list is-disc">
	   <li><a href="/analyze/basic" class="nes-btn is-primary">basic bar element model</a></li>
	   <li><a href="/analyze/np" class="nes-btn is-primary">non-prismatic bar element model</a></li>
	   <li><a href="/analyze/ep" class="nes-btn is-primary">elastic-plastic bar element model</a></li>
	 </ul>
       </div>
     </center>
</div>

</body>
{{template "footer" .}}

