{{define "footer"}}
<div class = "footer">
  <div class="nes-container" width="fit-content">
  <center>
    <div id="hammer">
    <img src="/svg/web/hammer.gif">
    </div>
  </center>
     <center>
       <h2 class="nes-text is-disabled">contact</h2>
     </center>
     <ul class ="nes-list is-disc" id="contact-us">
       <li><i class="nes-icon github is-medium"></i>
       <span> <a href="http://www.github.com/akhileshsv/barf">github</a></span></li>
     <li><i class="nes-icon whatsapp is-medium"></i>
       <span> <a href="https://wa.me/917331106585?text=has gig->">whatsapp</a></span></li>
     <li><i class="nes-icon gmail is-medium"></i>
       <span> <a href="mailto:akhileshsv@gmail.com">email</a></span></li>  
  <center>
    <div class="nes-balloon from-left nes-pointer">
      <a href="/about"><h3 class="is-dark">BARF &copy; BARF ASSOCIATES,2024</h3></a>
      <span class="nes-text is-disabled">licensed structural engineering and design firm</p>
      <span class ="nes-text is-disabled">mig-1-b 51, sector 9, mvp colony, vizag, 530017</span>
    </div>
  </center>
  </div>
</div>
</html>
{{end}}
