
   {{template "header" .}}	
<body>
<div class="nes-container" width="fit-content">
     <center>
       <h2 class="nes-text is-primary">Select rcc member:</h2>
       <div class="lists">
	 <ul class="nes-list is-disc">
	   <li><a href="/rcc/slab" class="nes-btn is-primary">slab</a></li>
	   <li><a href="/rcc/beam" class="nes-btn is-primary">beam</a></li>
	   <li><a href="/rcc/column" class="nes-btn is-primary">column</a></li>
	   <li><a href="/rcc/footing" class="nes-btn is-primary">footing</a></li>
	   <li><a href="/rcc/subframe" class="nes-btn is-primary">subframe</a></li>
	   <li><a href="/rcc/frame2d" class="nes-btn is-primary">frame(2d)</a></li>
	 </ul>
       </div>
     </center>
   </div>
   
</body>
   {{template "footer" .}}	
