
{{template "header" .}}
<body>
<div class="nes-container" width="fit-content">      
  <center>
    <h2 class="nes-text is-primary">Select rcc beam type:</h2>
    <div class="lists">
      <ul class="nes-list is-disc">
	<li><a href="/rcc/beam/sec" class="nes-btn is-primary">beam section</a></li>
	<li><a href="/rcc/beam/ssbeam" class="nes-btn is-primary">single s.s span</a></li>
	<li><a href="/rcc/beam/cbeam" class="nes-btn is-primary">continuous beam</a></li>
      </ul>
    </div>
  </center>

</div>
</body>
{{template "footer" .}}
