
{{template "header" .}}
<body>
<div class="nes-container" width="fit-content">      

  <a href="/docs/rcc/beam" class="nes-btn is-success" style="float:right">?</a>
<center><h3 class="nes-text is-primary">Rcc beam data:</h3></center>
  <form action="/rcc/beam" method="post">

    <label><input type="radio" class="nes-radio" name="Dsgn" value="true" checked /><span>design</span></label>
    <label><input type="radio" class="nes-radio" name="Dsgn" value="false"/><span>analyze</span></label>
    <div class="nes-select">
      <label for="Code">code of practice</label>
      <select name="Code" id="Code">
	<option value="1" selected="selected">is.456</option>
	<option value="2">bs.8110</option>
      </select>
    </div>
    <div class="nes-select">
      <label for="Styp">beam section</label>
      <select name="Styp" id="Styp">
	<option value="1"  selected="selected">rectangle</option>
	<option value="6">T</option>
	<option value="7">L</option>
	<option value="14">T-pocket</option>
      </select>
    </div>

    <div class="nes-select">
      <label for="Term">gnuplot terminal</label>
      <select name="Term" id="Term">
	<option value="svg"  selected="selected">svg</option>
	<option value="dxf">dxf</option>
      </select>
    </div>
    <label for="Title">title</label>
    <input type="text" name="Title" class="nes-input" placeholder="subramanian-ex-9.2" placeholder="subramanian-ex-9.2"/>

    <label for="Fck">grade of concrete</label>
    <input type="text" name="Fck" class="nes-input" placeholder="25.0" placeholder="25.0"/>
    
    <label for="Fy">grade of steel</label>
    <input type="text" name="Fy" class="nes-input" placeholder="415.0" placeholder="415.0"/>

    <label for="Dused">beam depth(mm)</label>
    <input type="text" name="Dused" required class="nes-input" placeholder="540.0" placeholder="540.0"/>

    <label for="Bw">breadth of web(mm)</label>
    <input type="text" name="Bw" required class="nes-input" placeholder="230.0" placeholder="230.0"/>

    <label for="Bf">breadth of flange(mm)</label>
    <input type="text" name="Bf" class="nes-input" placeholder="0.0" placeholder="0.0"/>

    <label for="Df">depth of flange(mm)</label>
    <input type="text" name="Df" class="nes-input" placeholder="0.0" placeholder="0.0"/>

    
    <label for="Cvrt">eff.cover(bot.)(mm)</label>
    <input type="text" name="Cvrt" class="nes-input" placeholder="50.0" placeholder="50.0"/>

    <label for="Cvrc">eff.cover(top)(mm)</label>
    <input type="text" name="Cvrc" class="nes-input"  placeholder="50.0" placeholder="50.0"/>
    
    <label for="Mu">design moment(kn-m)</label>
    <input type="text" name="Mu" class="nes-input" placeholder="125.0" placeholder="125.0"/>

    <label for="Vu">design shear(kn)</label>
    <input type="text" name="Vu" class="nes-input"  placeholder="75.0" placeholder="75.0"/>


    <label for="DM">moment redistribution</label>
    <input type="text" name="DM" class="nes-input" placeholder="0.15" placeholder="0.15"/>

    <label for="Ast">tension (bot.) steel area(mm2)</label>
    <input type="text" name="Ast" class="nes-input" placeholder="20.0" placeholder="20.0"/>
    <label for="Asc">compression (top) steel(mm2)</label>
    <input type="text" name="Asc" class="nes-input" placeholder="16.0" placeholder="16.0"/>
    <label for="Json" class="nes-text is-warning">json input</label>
    <textarea name="Json" id="Json" class="nes-textarea"></textarea>

    <div style="text-align: center">
      <input type="submit" class="nes-btn is-primary" value="calc"/>
    </div>
  </form>
</div>
</body>
{{template "footer" .}}
