
{{template "header" .}}
<body>
<div class="nes-container" width="fit-content">
     <center>
       <h2 class="nes-text is-primary">Select steel member:</h2>
       <div class="lists">
	 <ul class="nes-list is-disc">
	   <li><a href="/steel/bolt" class="nes-btn is-primary">bolt</a></li>
	   <li><a href="/steel/weld" class="nes-btn is-primary">weld</a></li>
	   <li><a href="/steel/beam" class="nes-btn is-primary">beam</a></li>
	   <li><a href="/steel/truss" class="nes-btn is-primary">truss</a></li>
	   <li><a href="/steel/column" class="nes-btn is-primary">column</a></li>
	 </ul>
       </div>
     </center>
   </div>
   
</body>
   {{template "footer" .}}	
