
{{template "header" .}}
<body>
<div class="nes-container" width="fit-content">
     <center>
       <h2 class="nes-text is-primary">Select steel member:</h2>
       <div class="lists">
	 <ul class="nes-list is-disc">
	   <li><a href="/steel/trussmodopt" class="nes-btn is-primary">truss opt</a></li>
	   <li><a href="/steel/trussgen" class="nes-btn is-primary">truss (2d) gen</a></li>
	 </ul>
       </div>
     </center>
   </div>
   
</body>
   {{template "footer" .}}	
