
{{template "header" .}}
<body>
<div class="nes-container" width="fit-content">
     <center>
       <h2 class="nes-text is-primary">Select timber member:</h2>
       <div class="lists">
	 <ul class="nes-list is-disc">
	   <li><a href="/timber/beam" class="nes-btn is-primary">beam</a></li>
	   <li><a href="/timber/column" class="nes-btn is-primary">column</a></li>
	   <li><a href="/timber/truss2d" class="nes-btn is-disabled">truss(2d)</a></li>
	 </ul>
       </div>
     </center>
   </div>
   
</body>
   {{template "footer" .}}	
