<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
     <title>BARF</title>
     <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
     <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet"/>
   </meta>
   </head>
<body>
  <div class="nes-container is-rounded is-dark" width="fit-content">
    <h1 href="/">BARF</h1>
    <p>RCC design routines (MOSH)</p>
  </div>
  <a href="/design/frame2d" class="nes-btn is-primary">Frame(2d)</a>
  <a href="/design/frame3d" class="nes-btn is-primary">Frame(3d)</a>
  <a href="/design/subframe" class="nes-btn is-primary">SubFrame</a>
</body>
</html>
